<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Orders</title>
  <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
</head>

<body>
<div class="title"><h1>Book-A-Meal</h1></div>
  </div>
  <div class="clear"></div>
  <div id="menu-bar-2-container">
    <div id="menu-bar-2">
      <a href="admin_menu.html">Menu</a>
      <a href="admin_orders.html">Orders</a>
      <a href="add_meal.html">Add Meal</a>
      <a href="index.html">Sign Out</a>
    </div>
  </div>

  <div class="containera">
    <table class="table">

      <tr>
        <th>Meal_id</th>
        <th>Menu Item</th>
        <th>Price</th>
        <th>Customer name</th>
        <th>Order date</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Ugali and sukuma</td>
        <td>400</td>
        <td>Kevin Hart</td>
        <td>01-05-2018</td>
        <td>Pending</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Rice and Beef</td>
        <td>300</td>
       <td>Bob Stuart</td>
        <td>01-05-2018</td>
        <td>Pending</td>
      </tr>

      <tr>
        <td>3</td>
        <td>Matoke plain</td>
        <td>100</td>
        <td>Henry Ford</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Fish and Chips</td>
        <td>500</td>
       <td>Fox Williams</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>5</td>
        <td>Pilau beef</td>
        <td>250</td>
       <td>Kevin Hart</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Ugali and Fish</td>
        <td>450</td>
        <td>Kevin Hart</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>7</td>
        <td>Chips and Chicken</td>
        <td>450</td>
       <td>Kevin Hart</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>8</td>
        <td>Rice and beans</td>
        <td>100</td>
        <td>Joe Hart</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>9</td>
        <td>Chapati and Ndengu</td>
        <td>100</td>
        <td>Christine Jenny</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>10</td>
        <td>Ugali and Maziwa Mala</td>
        <td>80</td>
        <td>Wekesa Nafula</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>11</td>
        <td>Ugali and Nyama Choma</td>
        <td>450</td>
        <td>Job Otieno</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>12</td>
        <td>Spaghetti and Minced meat</td>
        <td>250</td>
        <td>Pretty Betty</td>
        <td>01-05-2018</td>
        <td>Completed</td>
      </tr>
    </table>
  </div>
</body>

</html>

    
