<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
</head>

<body>
<div class="title"><h1>Book-A-Meal</h1></div>
  </div>
  <div class="clear"></div>
  <div id="menu-bar-2-container">
    <div id="menu-bar-2">
      <a href="dashboard.html">Menu</a>
      <a href="orders_history.html">My Orders</a>
      <a href="index.html">Sign Out</a>
    </div>
  </div>

  <div class="containera">
    <table class="table">

      <tr>
        <th>Meal_id</th>
        <th>Menu Item</th>
        <th>Price</th>
        <th>Order</th>
        <th>Change Order</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Ugali and sukuma</td>
        <td>400</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>Rice and Beef</td>
        <td>300</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td>Matoke plain</td>
        <td>100</td>
        <td>
          <a class="button" href="login.html">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>4</td>
        <td>Fish and Chips</td>
        <td>500</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>5</td>
        <td>Pilau beef</td>
        <td>250</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>6</td>
        <td>Ugali and Fish</td>
        <td>450</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>7</td>
        <td>Chips and Chicken</td>
        <td>450</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>8</td>
        <td>Rice and beans</td>
        <td>100</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>9</td>
        <td>Chapati and Ndengu</td>
        <td>100</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>10</td>
        <td>Ugali and Maziwa Mala</td>
        <td>80</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>11</td>
        <td>Ugali and Nyama Choma</td>
        <td>450</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>

      <tr>
        <td>12</td>
        <td>Spaghetti and Minced meat</td>
        <td>250</td>
        <td>
          <a class="button" href="#">Order</a>
        </td>
        <td>
          <a class="button" href="#">Change Order</a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>

    
