nav ul{
    list-style-type: none;
    margin: 0;
    background-color: gray;
    padding: 6px;
    overflow: hidden;
}
nav li{
    display: inline;
    float: left;
}
nav a{
    display: block;
    background-color: rgb(8, 235, 46);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
nav li a:hover{
    background-color: red;
}
a:active{
    background-color: blue;
}
body {
    background-color: mediumseagreen;
    text-align: center;
    text-decoration-color: chartreuse;
    background-image: url(./images/bg.jpg);
    background-size: cover;
}

.myBackground {
    width: 600px;
    height: 450px;
    background-position: center;
    border:2px solid orange;
    background-size: cover;
}

.footer {
    position: bottom;
    background-color: rgb(53, 53, 128);
}

.container {
    color: blue;
    margin-top: 50px;
}

form {
    display: inline-block;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }