<!doctype <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Meal</title>
		<link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
	</head>
	<body>
	<div class="title"><h1>Book-A-Meal</h1></div><br><br>
		<div class="row"><br></div>
		<div class="containerp">
			<div class="column"></div>
			<div class="right">
				<div class="formBox">
					<form>
						<p>Username</p>
						<input type="Name" name="" placeholder="Meal Name">
						<p>Password</p>
						<input type="Price" name="" placeholder="Meal Price">
						<a><input type="button" onclick="location.href='admin.html';" value="Add" /></a>
					</form>
					</div>
		 		</div>
		</div>
	</body>
</html>

