<!doctype <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sign In</title>
		<link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
	</head>
	<body>
	<div class="title"><h1>Book-A-Meal</h1></div><br><br>
		<div class="row"><br></div>
		<div class="container">
			<div class="left"></div>
			<div class="column"></div>
			<div class="right">
				<div class="formBox">
					<form>
						<p>Username</p>
						<input type="text" name="" placeholder="email address">
						<p>Password</p>
						<input type="Password" name="" placeholder="......">
						<a><input type="button" onclick="location.href='dashboard.html';" value="Sign In" /></a>
						<a href= "signup.html">  Forgot Password </a>
						<h5><P>Have no account yet?</P></h5>
						<input type="button" onclick="location.href='signup.html';" value="Sign Up" />
						<input type="button" onclick="location.href='admin.html';" value="Admin Sign In" />
					</form>
					</div>
		 		</div>
		</div>
	</body>
</html>


	