<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My orders</title>
  <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
</head>

<body>
<div class="title"><h1>Book-A-Meal</h1></div>
  </div>
  <div class="clear"></div>
  <div id="menu-bar-2-container">
    <div id="menu-bar-2">
      <a href="admin_menu.html">Menu</a>
      <a href="orders_history.html">My Orders</a>
      <a href="index.html">Sign Out</a>
    </div>
  </div>

  <div class="containera">
    <table class="table">

      <tr>
        <th>Meal_id</th>
        <th>Menu Item</th>
        <th>Price</th>
        <th>Order_date</th>
      </tr>

      <tr>
        <td>4</td>
        <td>Ugali and sukuma</td>
        <td>400</td>
        <td>21-04-2018</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Rice and Beef</td>
        <td>300</td>
         <td>21-04-2018</td>
      </tr>

      <tr>
        <td>3</td>
        <td>Matoke plain</td>
        <td>100</td>
         <td>17-04-2018</td>
      </tr>

      <tr>
        <td>5</td>
        <td>Fish and Chips</td>
        <td>500</td>
        <td>16-04-2018</td>
      </tr>

      <tr>
        <td>11</td>
        <td>Pilau beef</td>
        <td>250</td>
         <td>15-04-2018</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Ugali and Fish</td>
        <td>450</td>
         <td>14-04-2018</td>
      </tr>

    </table>
  </div>
</body>

</html>

    
