{% extends "base.html" %}

{% block title %}
Sign_up
{% endblock  %}

{% block page_content%}
<style>
        input[type="text"] {
            border-radius: 5px;
            border: none;
            width: 300px;
            height: 20px;
            padding: 5px;
        }
    </style>
<body>
    <div class="about">
    <form class="myBackground" action="/signup" method="POST">
        <br>
            <br>
                <br>
                Username:<br>
                <input type="text" name="username" placeholder="username"></br>
                Email:<br>
                <input type="text" name="email" placeholder="email"><br>
                Password:<br>
                <input type="text" name="password" placeholder="password"></br>
                Confirm password:<br>
                <input type="text" name="confirm_password" placeholder="confirm_password"></br>
            
                <br>
                <a href="signup" class="button">Sign Up</a></br>
                    <p> Already have an account?</p>
    
                    <a href={{url_for('signin')}} class="link" name="sign_in">Sign in</a>
            </br>
        </br>
    </br>
    </form>
</div> 
</body>
{% endblock page_content %}
